body {
  background-color: black;
  margin: 0; /*마진0으로 해서 target과 line들이 정확히 일치하게*/
}
.line {
  position: absolute;
  background-color: white;
}
.horizental {
  width: 100%;
  height: 1px;
}
.vertical {
  width: 1px;
  height: 100%;
}
.target {
  position: absolute;
  transform: translate(-50%, -50%);
}
.tag {
  color: white;
  font-size: 38px;
  position: absolute;
  margin: 20px;

  /* transform: translate(20px, 20px); */
}
