* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
body {
  text-align: center;
}
.game {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  background: url(./img/background.png) center/cover;
  width: 900px;
  height: 500px;
  border-radius: 20px;
}

.game__header {
  display: flex; /*한줄에 한개씩 나오게*/
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.game__button {
  width: 60px;
  height: 60px;
  background: wheat;
  border: 4px solid black;
  font-size: 24px;
  transition: transform 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  font-size: 32px;
  margin-top: 8px;
}

.game__score {
  text-align: center;
  width: 50px;
  line-height: 100%;
  margin-top: 8px;
  font-size: 46px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: darksalmon;
  color: white;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.pop-up {
  width: 400px;
  height: 120px;
  margin: auto;
  padding: 20px;
  background-color: #00000090; /*opacity대신 배경색을 90퍼센트만*/
  border-radius: 20px;
  color: white;
  text-align: center;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}
.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up__message {
  display: block;
  font-size: 24px;
}

/* .game__button {
  background: transparent;
  margin-bottom: 10px;
}

.game__timer {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  background-color: white;
  border: black solid 4px;
  border-radius: 10px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.game__score {
  background-color: tomato;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 3px 10px;
  border: black solid 3px;
  border-radius: 50%;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: auto;
  text-align: center;
  z-index: 1;
  width: 500px;
  height: 200px;
  background: rgba(240, 196, 140, 0.8);
  border-radius: 20px;
} */
